@font-face {
    font-family: "LetoSans";
    src: url('./LetoSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "LetoSans";
    src: url('./LetoSans-Bold.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}